[submodule "ch9/ch9-bpms-labs"]
	path = ch9/ch9-bpms-labs
	url = git@github.com:jbossdevguidebook/ch9-bpms-labs.git
[submodule "ch8/--force"]
	path = ch8/--force
	url = git@github.com:jbossdevguidebook/ch8-brms-labs.git
