[submodule "ch8/ch8"]
	path = ch8/ch8-brms-labs
	url = git@github.com:jbossdevguidebook/ch8-brms-labs.git
[submodule "ch9/ch9-bpms-labs"]
	path = ch9/ch9-bpms-labs
	url = git@github.com:jbossdevguidebook/ch9-bpms-labs.git
